<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule  ^image_uploader/ -           [L]
   rewritecond %{REQUEST_URI} ^/(feedfinder/*)/
   RewriteRule .* - [S=2]
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
