
/* Review Option Task Styles */

.option-tile {
	background-color: #FFF;
	border: #DDD 1px solid;
	border-radius: 4px;
}

.option-tile table {
	width: 100%;
}

.option-tile table td {
	text-align: center;
}

.option-tile table h3 {
	font-size: 18px;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	word-break: break-all;
}