/** Forgot Styles **/

.form-container {
	text-align: center;
}

.form-container p {
	color: #999;
}

.form-container a, .form-container a:active {
	color: #999;
}

.form-container a:hover {
	color: #333;
	text-decoration: underline;
}

.form-container {
	background-color: #FFF;
	border: #E1E1E1 1px solid;
	border-radius: 4px;
	max-width: 600px;
	margin: 60px auto 20px auto;
	padding: 40px 80px;
	text-align: center;
}

@media (max-width: 800px) {

	.form-container {
		padding: 40px 40px;
	}

}

.form-container .profile-icon {
	height: 120px;
	margin: 0px auto 30px auto;
	width: 120px;
}

.form-container .input-field {
	border: #e1e1e1 1px solid;
	border-radius: 4px;
	box-shadow: none;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.form-container label {
	color: #666;
	margin-bottom: 10px;
}

.form-container .btn {
	margin: 20px auto 0px auto;
}

#authMessage {
	padding-bottom: 30px;
}