/** Login Styles **/

.login-row {
	margin-bottom: 80px;
}

.form-container {
	text-align: center;
}

.form-container p {
	color: #999;
}

.form-container a, .form-container a:active {
	color: #999;
}

.form-container a:hover {
	color: #333;
	text-decoration: underline;
}

.login-form {
	background-color: #FFF;
	border: #E1E1E1 1px solid;
	border-radius: 4px;
	max-width: 600px;
	margin: 60px auto 20px auto;
	padding: 40px 80px;
	text-align: center;
}

@media (max-width: 768px) {

	.login-form {
		margin: 20px auto 20px auto;
		padding: 40px 40px;
	}

}

.profile-photo {
	background-size: cover;
	background-position: center;
	border-radius: 60px;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	height: 120px;
	margin: 0 auto 40px auto;
	width: 120px;
}

.login-form .input-field {
	border: #e1e1e1 1px solid;
	border-radius: 4px;
	box-shadow: none;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 15px;
	text-align: center;
	width: 100%;
}

.login-form label {
	color: #666;
	margin-bottom: 10px;
}

.login-form .btn {
	margin: 20px auto 0px auto;
}

#authMessage {
	padding-bottom: 30px;
}